.card {
  height: auto;
  width: 300px;
  padding: 0;
  margin: 20px;
  border-radius: 5px;
  position: relative;
  box-shadow: $box-shadow;
  background-color: $royalblue;
  text-align: center;
  color: white;
  }

  .card:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
   cursor: pointer;
}


.wi {
	font-size: 100px;
	margin: 0 auto;
  margin: 17px;
}

#searchZip {
	font-size: larger;
}

